[Unit]
Description=Raspberry Pi Object Detection Bridge
After=network.target

[Service]
Type=simple
User=laeyue
WorkingDirectory=/home/laeyue/rpi4e/client
ExecStart=/home/laeyue/rpi4e/client/venv/bin/python bridge.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
